@model CandidateEditViewModel
@{
    ViewData["Title"] = "Candidate Page";
}

<div class="row">
    <div class="panel  panel-primary">
        <div class="panel-heading">Candidate</div>
        <div class="panel-body">
            <p>First name: @Model.FirstName</p>
            <p>Surname: @Model.Surname</p>
            <form asp-action="Exclude" asp-controller="Home" method="post">
                <label asp-for="@Model.Excluded">Exclude</label>
                <input type="checkbox" asp-for="@Model.Excluded" />
                <input type="hidden" asp-for="@Model.Id" />
            </form>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Note Details</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var note in @Model.Notes)
            {
                <tr data-href="/home/note?id=@{@Model.Id}&index=@note.Index">
                    <td>@note.DateEntered.ToString("dd/MM/yyyy")</td>
                    <td>@note.NoteText</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <a class="btn btn-primary"
       asp-controller="Home"
       asp-action="note"
       asp-route-id="@Model.Id">
        Add Note
    </a>
    <a class="btn"
       asp-controller="Home"
       asp-action="Index"
       asp-route-page="1">
        Cancel
    </a>
</div>
