@model CandidateListViewModel
@{
    ViewData["Title"] = "Home Page";
}


@{
    var previousClass=  Model.Paging.CurrentPage==1 ? "page-link disabled" : "page-link";
    var nextClass=  Model.Paging.CurrentPage==Model.Paging.TotalPages ? "page-link disabled" : "page-link";
 }

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Candidates</h3>
        </div>
        <div class="panel-body">


            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Surname</th>
                    <th scope="col">First name</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var candidate in Model.Candidates)
                {
                    <tr>
                        <th scope="row">@candidate.Surname</th>
                        <td>@candidate.FirstName</td>
                    </tr>
                }
                @*<tr>
                    <th scope="row">Smith</th>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <th scope="row">Another</th>
                    <td>Larry</td>
                </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                @*<a class="page-link" href="#">Previous</a>*@
                <a class="@previousClass"
                    asp-controller="Home"
                   asp-action="Index"
                   asp-route-page="@Model.Paging.Previous">
                    Previous
                </a>
            </li>
            <li class="page-item"><a class="page-link disabled" href="#">1</a></li>
            <li class="page-item"><a class="page-link disabled" href="#">2</a></li>
            <li class="page-item"><a class="page-link disabled" href="#">3</a></li>
            <li class="page-item">
                @*<a class="page-link" href="#">Next</a>*@
                <a class="@nextClass" 
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-page="@Model.Paging.Next">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>
